<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>RFC Populi</title>
<link rel="shortcut icon" href="{{STATIC_URL}}media/primo-partial/comment_add.png" />
</head>
<body class='rfcpop-static'>
	<link rel='stylesheet' href='/static/css/rfcpop.css' type='text/css'/>
	<script type='text/javascript' src='{{STATIC_URL}}js/lib/jquery.js'></script>
	<!--  http://www.fontspace.com/gunarta/halida-sans?text=Annotated%20IETF%20Specifications&fontsize=69&foreground=000000&background=FFFFFF -->
	<img class="rfcpop-title" src="{{STATIC_URL}}media/title3.png" />
	<img class="rfcpop-subtitle" src="{{STATIC_URL}}media/subtitle3.png" />
	<!-- <h1>RFC Populi</h1>
	<h2>Annotated IETF Specifications</h2> -->
	<br />
	<br />
	<form action="show/" method="get">
		Enter RFC number: <input type="text" name="rfc_num" /> <input
			type="submit" value="Show" />
	</form>
	<br /> For some examples, try
	<a href="/rfcpop/rfc/4041">RFC 4041</a>.
	<br/>
	<br/>
	<small><a href='/rfcpop/about/'>About this Project</a></small>
	<br/>
	<small><a href='/rfcpop/release-notes/'>Release Notes</a></small>
</body>
</html>
